<h3>
    Related sites
</h3>
<ul class = 'list-group' style = "background-color: rgb(74, 235, 95);">
    <li class = "list-group-item list-group-item-light">
        <a href="https://smmry.com/">
            Summy
        </a>
    </li>
    <li class = "list-group-item list-group-item-light">
        <a href="https://www.summarizebot.com/">
            Summarizebot
        </a>
    </li>
    <li class = "list-group-item list-group-item-light">
        <a href="https://www.tools4noobs.com/summarize/">
            Tools4Noobs summarize tool
        </a>
    </li>
    <li class = "list-group-item list-group-item-light">
        <a href="https://www.splitbrain.org/services/ots">
            Split Brain Summary Tool
        </a>
    </li>
    <li class = "list-group-item list-group-item-light">
        <a href="http://textsummarization.net/text-summarizer">
            TextSummarization
        </a>
    </li>
    <li class = "list-group-item list-group-item-light">
        <a href="https://www.textcompactor.com/">
            Text Compactor
        </a>
    </li>
    <li class = "list-group-item list-group-item-light">
        <a href="https://resoomer.com/en/">
            Resoomer
        </a>
    </li>
    <li class = "list-group-item list-group-item-light">
        <a href="https://chrome.google.com/webstore/detail/summarizer/nehmaijilccnklmhkjlmmcnbjobdodhp?hl=en">
            Summarizer article chrome extension
        </a>
    </li>
    <li class = "list-group-item list-group-item-light">
        <a href="https://chrome.google.com/webstore/detail/simplifly/jioeflccmbeaeelfklklmbdjcbdeccnh?hl=en">
            simplifly chrome extension
        </a>
        </li>
        <li class = "list-group-item list-group-item-light">
            <a href="http://autosummarizer.com/index.php">
            Autosummarizer
    </a>
    </li>
    <li class = "list-group-item list-group-item-light">
        <a href="https://appzaza.com/article-summarizer">
        AppZaza Article Summarizer
    </a>
    </li>
    <li class = "list-group-item list-group-item-light">
        <a href="https://summarygenerator.com/">
        Summary Generator
    </a>
    </li>
</ul>

