{%extends 'base.html'%}
{%block content%}

{%if error%}
    <a href="{%url 'RemoveMultipleBook'%}">
        cancel
    </a>
{%elif completed%}
    <a href="{%url 'RemoveMultipleBook'%}" class="btn btn-primary">
        Cancel
    </a>
    <a href="{%url 'ReadMultipleBook'%}" class="btn btn-primary">
        Prev
    </a>
    <a href="{%url 'ExportMultipleBook'%}" class="btn btn-primary">
        Next
    </a>
{%else%}
<form action="" method="POST">
    {%csrf_token%}
    Choose summarizer
    <hr>
    <select name="summarizer" id="">
        {%for summarizer in summarizers%}
        <option value="{{summarizer}}">{{summarizer}}</option>
        {%endfor%}
    </select>
    <button type="submit" class="btn btn-primary">
        select
    </button>
</form>
{%endif%}

{%endblock%}